<div class="l3">
  <ul class="nav nav-tabs nav-tabs-color">
    <li class="nav-item nav-tab">
      <%= link_to "\u00A0 \u00A0 \u00A0 \u00A0 \u00A0", root_path, class: active_nav_link_class(root_path) %>
    </li>
    <li class="nav-item nav-tab">
      <%= link_to "\u00A0 Writing \u00A0", writing_path, class: active_nav_link_class(writing_path) %>
    </li>
    <li class="nav-item nav-tab">
      <%= link_to "\u00A0 Music \u00A0", music_path, class: active_nav_link_class(music_path) %>
    </li>
    <li class="nav-item nav-tab">
      <%= link_to "\u00A0 Games \u00A0", games_path, class: active_nav_link_class(games_path) %>
    </li>
    <li class="nav-item nav-tab">
      <%= link_to "\u00A0 About \u00A0", about_path, class: active_nav_link_class(about_path) %>
    </li>
  </ul>
</div>